<div class="container">
  <div class="row shadow-sm p-3 my-2 bg-white rounded border">
    <div class="col">
      <div class="row my-3" *ngFor="let item of listaImagens">
        <div class="col">
          {{item.horaProcessImg}}
        </div>
        <div class="col">
          {{item.nomeArquivo}}
        </div>
        <div class="col">
          <img [src]="getUrlImagem(item.nomeArquivo)" />
        </div>
      </div>
    </div>
  </div>
</div>
