<div class="container">
  <div class="row shadow-sm p-3 my-2  rounded border">
    <div class="col">
      <div class="div">
        <div class="col">
          <h3>Upload Imagem</h3>
        </div>
      </div>
      <div class="row">
          <div class="col">
            <p>Numero de interacoes <input type="text" [(ngModel)]="numInteracoes" /></p>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <p>Nome Arquivo Final:<input type="text" [(ngModel)]="nomeArq" /></p>
          </div>
        </div>

      <div class="row">
        <div class="col">
          <p>Selecione o vetor g : <input type="file" (change)="onFileChangedVetor($event)"></p>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <p>Selecione o matrix H : <input type="file" (change)="onFileChangedMatrix($event)"></p>

        </div>
      </div>
      <div class="row my-2">
        <div class="col"> <button type="button" class="btn btn-primary" (click)="onUpload()">Upload</button></div>
      </div>
    </div>
  </div>
</div>