<div class="container">
  <div class="row shadow-sm p-3 my-2 bg-white rounded border">
    <div class="col">
      Sistema de processamento de ultraSom
    </div>
    <button type="button" class="btn btn-primary" (click)="navegar('upload')">Upload de imagem</button>
    <button type="button" class="btn btn-primary" (click)="navegar('imagens')">Ver imagens</button>
  </div>
</div>